<a href="https://colab.research.google.com/github/JortPolderdijk/AOC24/blob/main/AOC2024_D2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 2

## Part 1

In [110]:
import numpy as np

with open('input-d2p1.txt', 'r') as file:
    reports =[list(map(int, line.split())) for line in file]

max_length = max(len(row) for row in reports)

reports = np.array([row + [-1] * (max_length - len(row)) for row in reports])
reports

array([[ 1,  3,  5, ...,  9, 12,  9],
       [66, 67, 70, ..., 74, 75, 75],
       [18, 20, 22, ..., 31, 35, -1],
       ...,
       [51, 52, 54, ..., 61, -1, -1],
       [60, 59, 56, ..., 52, 51, -1],
       [46, 47, 50, ..., 57, 59, 61]])

In [104]:
count = 0
for row in reports:
  row = row[row != -1]
  diff = abs(np.diff(row))
  if np.max(diff) > 3 or np.min(diff) < 1:
    continue
  elif not np.all(row[:-1] <= row[1:]) and not np.all(row[:-1] >= row[1:]):
    continue
  else:
    count += 1

print("Output:")
count

Output:

359

## Part 2

In [112]:
count = 0
for row in reports:
  row = row[row != -1]
  diff = abs(np.diff(row))
  if np.max(diff) <= 3 and np.min(diff) >= 1 and (np.all(row[:-1] <= row[1:]) or np.all(row[:-1] >= row[1:])):
    count += 1
    continue

  for i in range(len(row)):
    temp_row = np.delete(row, i)
    if len(temp_row) > 0:
      diff = abs(np.diff(temp_row))
      if np.max(diff) <= 3 and np.min(diff) >= 1 and (np.all(temp_row[:-1] <= temp_row[1:]) or np.all(temp_row[:-1] >= temp_row[1:])):
        count += 1
        break
print("Output:")
count

Output:

418